<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MailSystem.Net-trunk" version="2.1.25" targetFramework="net452" />
  <package id="Rally.RestApi" version="3.2.1" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.6" targetFramework="net452" />
  <package id="Slack.Webhooks" version="0.1.7" targetFramework="net452" />
</packages>